/* this line is a comment */

body {
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filmgrid {
    align-self: center;
    display: flexbox;
    border: solid #fff;
    
}

#cardimg {
    display: grid;
    grid-template-columns: repeat(90, 1fr);
}

img {
    padding: 5px;
    width: 190px;
    height: 280px;
    border-radius: 10px;
}